.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

.searchForm button {
    width: 40vw;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-color: inherit;
    color: #efa747;
    border: 1px solid #efa747;
    border-radius: 4px;
}

.searchForm button:hover {
    background-color: #efa747;
    color: #10000c;
}