div.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
    width: 30vw;
}

div.imageContainer {
    width: 300px;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.addToFavorites {
    width: 20vw;
    padding: 10px 15px;
    margin-top: -40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-color: inherit;
    color: #efa747;
    border: 1px solid #efa747;
    border-radius: 4px;
}

button.addToFavorites:hover {
    background-color: #efa747;
    color: #10000c;
}