.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #e4ebf2;
}

.searchForm button {
    width: 300px;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: inherit;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-color: #328daa;
}

.searchForm button:hover {
    border: 1px solid white;
    color: white;
}